/* =============================================================================
   Base
   ==================n======================================================== */

html, body, .page, .main, .sidebar {
    height: 100%;
}

body {
    background: #f1f1f1;
    font-family: Helvetica;
    overflow: hidden;
}

.col1 {
    width: 60%;
    float: left;
}

.col2 {
    width: 50%;
    float: left;
}

.col2b {
    width: 40%;
    float: left;
}

.col3 {
    width: 33%;
    float: left;
}

.col4 {
    width: 30%;
    float: left;
}

.col5 {
    width: 20%;
    float: left;
}

.hiddenBigScreen {
    display: none;   
}

/* =============================================================================
   layout
   ========================================================================== */

.headerBrand {
    height: 48px;
    width: 100%;
    position: relative;
    z-index: 3;
    background-image: url(/Images/headerBrand.png);
    background-repeat: repeat-x;
}

    .headerBrand .logo {
        height: 43px;
    }

.sidebar {
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    background: #f1f1f1;
    min-width: 380px;
    border-right: 1px solid #BDBBB8;
}

.headerBranded .sidebar {
    margin-top: 45px;
}

.headerBranded .map_container {
    top: 45px;
}

.map_container {
    position: absolute;
    width: 70%;
    height: 100%;
    bottom: 0;
    right: 0;
    overflow: hidden;
}


/* =============================================================================
   sidebar
   ========================================================================== */

.searchbar {
    background: #fff;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #DCDCDC;
}

.search_wrap {
    padding: 13px;
}

.searchbar input {
    width: 97%!important;
    padding: 10px 0;
    text-indent: 10px;
    border: 1px solid #cccaca;
    font-size: 14px;
    color: #000;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.075);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.075);
    /*
    position:relative;
	behavior: url(/scripts/PIE.htc);
    position:relative;
    */
}

.initial_state, .initial_state_itinary {
    position: relative;
    top: 108px;
    background: #fff;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    height: 100%;
    font-family: Helvetica;
}

.initial_state_itinary {
    top: 0px;
    height: auto;
    padding: 20px 20px 20px 10px;
}

.initial_state li, ul.result_calc .initial_state_itinary li {
    list-style: disc;
    margin: 10px 20px;
    font-size: 12px;
}

.initial_state h2, .initial_state_itinary h2 {
    font-size: 16px;
    color: #B40000;
}

.initial_state strong, .initial_state_itinary strong {
    color: #B40000;
    font-weight: normal;
}

.icon_plus, .icon_min {
    width: 29px;
    height: 27px;
    float: right;
    position: relative;
    top: -15px;
}

.icon_plus {
    background: url(../Images/audi/icon_plus.png) no-repeat center;
}

.icon_min {
    background: url(../Images/audi/icon_min.png) no-repeat center;
}

#accordion {
    background: #fff;
    width: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px 0px #ffffff;
    /*
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
		*/
    behavior: url(/scripts/PIE.htc);
}

    #accordion > ul, .link h2, .link p {
        margin: 0;
        padding: 0;
    }

.link {
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #bfbfbf;
    cursor: pointer;
    display: block;
    position: relative;
}

    .link:hover {
        background: #f1f1f1;
        background: url(../Images/audi/list_tile.png) no-repeat left center;
    }

.lblAdressInput {
    position: relative;
    top: -5px;
}

.link:hover .result_km {
    color: #fff;
    text-shadow: none;
}

.link.active:hover {
    background: url(../Images/audi/list_tile.png) no-repeat left center;
}

.link.active {
    background: url(../Images/audi/list_tile.png) no-repeat left center;
}
/* change 
.link a {
    display: block;
    padding: 20px;
    text-decoration: none;
    background: url(../Images/audi/icon_arrow_acc.png) no-repeat 96% center;
}
*/
/* change */
.link h2 {
    font-size: 18px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.link:hover h2, .link.active h2 {
    color: #c8282c;
}

.link p {
    font-size: 14px;
    color: #999;
    padding-left: 16px;
}

.link:hover p, .link.active p {
    color: #4b4c4c;
}

.link.active a {
    background: url(../Images/audi/icon_arrow_acc_active.png) no-repeat 96% center;
}

.link_inside {
    margin: 0;
    padding: 0;
}


.dealer-details {
    padding-top: 10px;
    vertical-align: top;
}

.dealer-image {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    margin: 0 20px 10px 0;
    float: left;
}

.ie8 .dealer-image {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0;
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    margin: 0 20px 10px 0;
    float: left;
}

.locator_detail {
    /*overflow: hidden;*/
    display: inline-block;
}

    .locator_detail ul {
        margin: 0;
        padding: 0;
        overflow: visible; /*lde: else image & bullets do not align top */
    }

    .locator_detail li {
        list-style: none;
        margin: 0;
    }

    .locator_detail img {
        border: 5px solid #fff;
        margin-right: 20px;
        float: left;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        behavior: url(/scripts/PIE.htc);
    }

    .locator_detail .phone a, .locator_detail .email a {
        line-height: 30px;
        padding-left: 30px;
        color: #000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }

    .locator_detail .phone a {
        background: url(../Images/audi/icon_phone.png) no-repeat left center;
    }

    .locator_detail .email a {
        background: url(../Images/audi/icon_email.png) no-repeat left center;
    }

.s_pnlFilterRow1 {
    float: left;
    width: 90%;
    margin-top: 8px;
}

#pnlFilter3 {
    float: right;
    position: relative;
    width: 10%;
    margin: 0px;
    right: 2%;
}

.link_inside {
    background: url("../Images/MB/bottomShadow.jpg") repeat-x scroll center bottom transparent;
}

/* block ul option */
.block_option {
    margin: 0;
    padding: 2px;
    list-style: none;
    text-shadow: none;
    filter: none;
    overflow: hidden;
}

    .block_option li {
        clear: both;
    }

        .block_option li a {
            display: block;
            height: 34px;
            margin: 0 6px;
            padding-left: 20px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            padding: 0px 32px 8px 0;
            line-height: 30px;
        }

            .block_option li a span {
                display: block;
                height: 34px;
                padding-left: 10px;
                line-height: 30px;
                color: #fff;
            }

.ui-autocomplete {
    z-index: 301;
}

/* block ul calculeur */


#txtAddressSearchFrom {
    width: 95%;
    margin: 5px 0;
}

.block_calc {
    margin: 0;
    padding: 0px 10px 10px 10px;
    list-style: none;
}

    .block_calc.dealer-selector {
        border-bottom: none;
    }

    .block_calc li {
        margin: 10px;
        background: #f1f1f1; /* Old browsers */
        background: -moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f1f1f1 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f1f1f1 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f1f1f1 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        /*
	behavior: url(/scripts/PIE.htc);
    */
    }

        .block_calc li:hover {
            background: #e5e5e5;
        }

        .block_calc li a {
            display: block;
            padding: 5px 5px 5px 10px;
            color: #7e7f80;
            font-weight: bold;
            border: 1px solid #d9d9d9;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            background: url(../Images/audi/icon_arrow_acc_active.png) no-repeat 96% center;
            /*behavior: url(/scripts/PIE.htc);*/
        }

        .block_calc li.calculate,
        .block_calc li.view_site,
        .block_calc li.chooseDealer {
            margin: 0 0 5px 0;
            padding: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            /*
	position:relative;
	z-index:1;
	behavior:url(/scripts/PIE.htc);
        */
        }

            .block_calc li.calculate a {
                background: url(../Images/audi/icon_arrow_top.png) no-repeat 10px center;
                padding-left: 40px;
            }

        /*.block_calc li.disabled {
            margin: 10px;
            background: #ddd;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            behavior: url(/scripts/PIE.htc);
        }

            .block_calc li.disabled:hover {
                background: #ddd;
            }*/

            .block_calc li.disabled a {
                cursor: default;
                color: #ccc;
            }

/* ventes */
.ventes a, .apres_ventes a, .r8 a {
    color: #4b4c4c;
    padding-left: 40px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.ventes span, .apres_ventes span, .r8 span {
    color: #4b4c4c;
    padding-left: 40px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.ventes {
    background: url(../Images/audi/icon_ventes.png) no-repeat left center;
}

.apres_ventes {
    background: url(../Images/audi/icon_ventes_apres.png) no-repeat left center;
}

.r8 {
    background: url(../Images/audi/r8.png) no-repeat left center;
    display: none;
}

/* utilities */
.pad_10 {
    padding: 10px;
    background: url(../Images/MB/topShadow.jpg) top repeat-x;
}

.padt_7 {
    padding: 7px;
}

/* checkbox */
.css-checkbox input[type=checkbox] {
    display: none;
}

    .css-checkbox input[type=checkbox] + label {
        padding-left: 25px;
        height: 17px;
        display: inline-block;
        line-height: 15px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 15px;
        vertical-align: middle;
        cursor: pointer;
    }

.css-checkbox.checked input[type=checkbox] + label {
    background-position: 0 -17px;
}

.css-checkbox label {
    background-image: url(../Images/audi/checkbox.png);
}

/* IE8*/
.ie8 .css-checkbox input[type=checkbox] {
    /*display: block;*/
}

/* jquery slider */
.ui-widget-content {
    background: url(../Images/audi/slider_bg_on.png);
    border: none;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    margin: 0 6px 10px 6px;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: url(../Images/audi/slider_btn.png) no-repeat;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

.ui-slider-horizontal {
    height: 0.65em;
}

.ui-widget-header {
    background: #f1f1f1;
    border: 1px solid #e8e8e8;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0;
}

.radius_info label {
    display: inline;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 12px;
}

    .radius_info label.count {
        color: #c8282c;
    }

/* slider add hardcode */
.map_radius {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: 27px;
}

#slider-range-max {
    max-width: 367px;
}

.map_radius li {
    list-style: none;
    display: inline;
    float: left;
    padding: 0 0 5px 0;
    background: #fff url(../Images/audi/measure_line.png) no-repeat center 20px;
    /*margin-right: 8.3%;*/
    margin-left: 8px;
    margin-right: 52px;
    font-size: 12px;
}

.map_radius > li > a {
    color: #b4b4b4;
    font-size: 12px;
}

.map_radius li.last {
    margin: 0 -2px 1px -5px;
}

.map_container img {
    max-width: none;
}

.direction_container {
    height: 82.5%;
}

.map_direction {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    width: 95%;
    overflow-y: scroll;
    direction: ltr;
    bottom: 0;
    top: 158px;
}


/* ui autocomplete */
/*#4447*/
li.ui-menu-item a.ui-state-focus {
    background-color: #eeeeee;
    color: #222222;
    margin: 0px !important;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}


/* result calculation */
.result_calc {
    margin: 0;
    font-family: Helvetica;
    border-bottom: 1px solid #DCDCDC;
    background: #fff;
    position: absolute;
    width: 100%;
}


    .result_calc li {
        list-style: none;
    }

        .result_calc li a {
            display: block;
            padding: 20px;
            text-decoration: none;
        }

    .result_calc .from {
        background: #fff;
        padding: 50px 10px 10px 10px;
    }

    .result_calc li.from a {
        padding-left: 60px;
        background: #fff;
        -webkit-box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.2);
        z-index: 1;
        position: relative;
        color: #838383;
        font-size: 16px;
        font-weight: bold;
        behavior: url(/scripts/PIE.htc);
    }

.txt_vers {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.adp-marker {
    margin: 0 0 0 10px;
}

.result_calc li.to a {
    padding-left: 40px;
    background: #f1f1f1;
    color: #999;
}

.adp-summary {
    margin: 0 10px;
}

    .adp-summary tbody {
        margin: 0 10px;
    }

.adp-placemark {
    width: 97%;
    background: #fff;
    padding: 5px;
    /*margin: 10px;*/
    height: 50px;
}

.result_km {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #999;
    font-weight: bold;
}

.result_panel {
    background: #f1f1f1;
    height: 100%;
}

.maplabels, .maplabelselect {
    /*color: #838383;*/
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    width: 26px;
    overflow: hidden;
}

.maplabels {
    color: #000000;
}

.maplabelselect {
    color: white;
}

.backbtn, .printbtn {
    position: absolute;
    z-index: 3;
    line-height: 15px;
    border: 1px solid #7e7f80 !important;
    background-color: #fff !important;
    color: #7e7f80 !important;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    top: 10px;
    behavior: url(/scripts/PIE.htc);
    height: 15px;
    text-decoration: none;
}

.printbtn {
    right: 15px;    
}

.backbtn {
    left: 10px;    
    width: 45px;
}

.backbtn:hover, .printbtn:hover {
    text-decoration: none;
    color: #000 !important;
}

.adp-step, .adp-text {
    width: auto;
}

.adp-legal {
    margin: 10px;
}

/* add autocomplete */
.ui-autocomplete {
    background: #fff;
    font-family: helvetica;
    font-size: 1em;
    padding: 10px;
}

.ui-autocomplete-category {
    border: 1px solid #c9c9c9;
    font-weight: bold;
    padding: .2em .4em .2em 1.5em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

    .ui-autocomplete-category.dealer {
        background: #e6e6e6 url(../Images/seat/icon_dealer.png) no-repeat 5px center;
    }

    .ui-autocomplete-category.address {
        background: #e6e6e6 url(../Images/seat/icon_address.png) no-repeat 5px center;
    }

#liCorres, #liTitle {
    border: none;
    font-weight: normal;
    text-transform: capitalize;
}
/*LD width bug 17850*/
#liLink {
    border: none;
    font-weight: normal;
    text-transform: none;
    width: auto;
}

    /* correct mouvment of website link button on hover*/
    #liLink.ui-menu-item a.ui-state-focus {
        margin: 0px;
    }

    #liLink:hover {
        background-color: #000;
    }

    #liLink.ui-menu-item a {
        border: none;
        font-weight: normal;
        text-transform: none;
        text-align: center;
        color: #fff !important;
        outline: 0;
        outline-offset: 0;
    }

#liTitle {
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 10px;
}

#liCorres {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: #888;
    text-transform: none;
}

#liLink {
    background: #424b50;
    color: #fff;
    text-align: center;
    padding: .5em 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none;
    background: none;
    color: #c8282c;
}




.DeleteSearch {
    width: 15px;
    height: 15px;
    display: none;
    background-color: Red;
}

.s_ctnListMap {
    display: none;
}


.loader {
    background: url(../Images/audi/350.gif) no-repeat center;
    background-size: 30%;
    width: 128px;
    height: 128px;
    left: 60%;
    top: 50%;
    ;
    position: absolute;
    z-index: 3;
}

#adp-placemark td, .adp-placemark td {
    width: 22px;
    height: 40px;
}

.lnk_go {
    background-color: #49A93E;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    position: relative;
    float: right;
    text-indent: 5px;
    top: -35px;
    width: 30px;
    cursor: pointer;
}

.lnk_search {
    background-color: #009acc;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 5%;
    text-align: center;
    text-indent: 2px;
    width: 8%;
}

.logo2 {
    display: none;
}

#lbl_vers {
    display: block;
    clear: both;
}

/*smartphones including iphone5*/
@media only screen and (min-width: 1px) and (max-width: 568px) {
    #header {
        display: none;
    }

    html, body {
        padding: 0px;
        margin: 0px;
        height: 100%;
        position: fixed;
        width: 100%;
    }

    h1, h2, h3 {
        line-height: 20px;
    }

    .hiddenBigScreen {
        display: block;
    }

    .hiddenSmallScreen {
        display: none;
    }

    .listPage form, .listPage .main, .listPage .page {
        height: 100%;
        margin: 0;
    }

    .initial_state {
        display: none;
    }

    #pnlInitial {
        background: #fff;
    }

    #pnlRadius {
        width: 100%;
    }

    #addressinput {
        width: 80%!important;
    }

    .s_pnlFilterRow1 {
        display: none;
    }

    #pnlFilter3 {
        position: absolute;
        display: inline-block;
        top: 40px;
        right: 20px;
    }


    .sidebar {
        float: none;
        position: static;
        width: 100%;
        height: auto;
    }

    .headerBranded .sidebar {
        margin-top: 0px;
    }

    .headerBranded .map_container {
        top: 78px;
    }

    #slider-range-max {
        max-width: 268px;
    }

    #pnlList {
        display: none!important;
    }

    .listPage #pnlList {
        display: block!important;
    }

    #lbl_de {
        /*margin-right:30px;*/
    }

    #txtAddressSearchFrom {
        width: 85%;
    }

    .listPage .sidebar, .listPage #accordion {
        height: calc(90% - 80px);
    }

    .searchbar {
        float: none;
        position: absolute;
        width: 100%;
        height: auto;
    }

    .map_container {
        display: none;
    }

        .map_container.active {
            display: block;
            box-sizing: border-box;
            float: none;
            position: absolute;
            top: 78px;
            width: 100%;
            height: calc(90% - 78px);
        }


    .s_ctnListMap {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100%;
        height: 10%;
        bottom: 0px;
        background: #f1f1f1;
        border-top: 2px solid #e7e7e7;
    }

    .s_btnList {
        display: block;
        float: left;
        height: 100%;
        box-sizing: border-box;
        width: 50%;
        background: transparent url(../Images/audi/ico_list.png) no-repeat center;
        background-size: 10%;
        border-right: 1px solid #bfbfbf;
    }

    .s_btnMap {
        display: block;
        position: absolute;
        right: 0;
        float: right;
        height: 100%;
        box-sizing: border-box;
        width: 50%;
        background: transparent url(../Images/audi/ico_map.png) no-repeat center;
        background-size: 10%;
        border-left: 1px solid #e6e6e6;
    }

    .s_btnList.active {
        background: transparent url(../Images/audi/ico_list0.png) no-repeat center;
        background-size: 10%;
    }

    .s_btnMap.active {
        background: transparent url(../Images/audi/ico_map0.png) no-repeat center;
        background-size: 10%;
    }


    .listPage .map_direction {
        display: none;
    }

        .listPage .map_direction.show {
            display: block;
            background: #fff;
            top: -11px;
            height: 0%;
            overflow: hidden!important;
        }

            .listPage .map_direction.show .adp {
                position: absolute;
                z-index: 2;
                height: 90%;
                background: #fff;
                overflow: auto;
            }

    .loader {
        background: url(../Images/audi/350.gif) no-repeat center;
        background-size: 50%;
        width: 128px;
        height: 128px;
        left: 50%;
        top: 50%;
        margin-left: -64px;
        margin-top: -64px;
        position: absolute;
        z-index: 3;
    }

    /*14-10-2013*/
    .backAndPrint {
        position: absolute;
        z-index: 300;
        height: 45px;
        width: 100%;
    }

    .result_calc .from {
        padding-top: 0px;
        position: absolute;
        width: 100%;
        top: 45px;
        z-index: 300;
    }

    .lnk_go {
        top: 5px;
    }

    .lnk_go, .lnk_search {
        right: 20%;
    }

    .result_calc .lnk_go {
        right: 6%;
    }
    /*---*/
    .icon_plus, .icon_min {
        position: static;
    }

    .lnk_go {
        position: absolute;
    }
}

.page-break {
    display: none;
}

@media only screen and (min-width: 1px) and (max-width: 347px) {
    .result_calc .lnk_go {
    }

    #txtAddressSearchFrom {
        width: 80%;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1544px) {
    .map_radius li {
        margin-right: 51px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1327px) {
    .map_radius li {
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1310px) {
    .map_radius li {
        margin-right: 49px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1294px) {
    .map_radius li {
        margin-right: 48px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1277px) {
    .map_radius li {
        margin-right: 47px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1260px) {
    .map_radius li {
        margin-right: 46px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1245px) {
    .map_radius li {
        margin-right: 45px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1226px) {
    .map_radius li {
        margin-right: 44px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1210px) {
    .map_radius li {
        margin-right: 43px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1193px) {
    .map_radius li {
        margin-right: 42px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1176px) {
    .map_radius li {
        margin-right: 41px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1159px) {
    .map_radius li {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1145px) {
    .map_radius li {
        margin-right: 39px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1127px) {
    .map_radius li {
        margin-right: 38px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1109px) {
    .map_radius li {
        margin-right: 37px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1091px) {
    .map_radius li {
        margin-right: 36px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1073px) {
    .map_radius li {
        margin-right: 35px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1055px) {
    .map_radius li {
        margin-right: 34px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1037px) {
    .map_radius li {
        margin-right: 33px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1019px) {
    .map_radius li {
        margin-right: 32px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1001px) {
    .map_radius li {
        margin-right: 31px;
    }
}

body .ui-widget-content #liLink a,
body .ui-widget-content #liLink a:hover {
    background:transparent!important;
}