@font-face{
			font-family:'Skoda Pro';
			src: url('../fonts/SkodaPro-Regular.eot');
			src: url('../fonts/SkodaPro-Regular.eot?#iefix') format('embedded-opentype'),
					   url('../fonts/SkodaPro-Regular.ttf') format('truetype');
			font-style: normal;
			font-weight: normal;
}
			
@font-face{
			font-family:'Skoda Pro';
			src: url('../fonts/SkodaPro-Bold.eot');
			src: url('../fonts/SkodaPro-Bold.eot?#iefix') format('embedded-opentype'),
					   url('../fonts/SkodaPro-Bold.ttf') format('truetype');
			font-style: normal;
			font-weight:bold;
}

html, body{
	font-family:'Skoda Pro';
	src: url('../fonts/SkodaPro-Regular.eot');
	src: url('../SkodaPro-Regular.eot?#iefix') format('embedded-opentype'),
			   url('../fonts/SkodaPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	}

html {
	height:100%;
}

body {
	min-height:100%;
	margin:0px;
}

button {
	width: 100%;
	text-align: left;
	border:none;
}

#googleMap {
	float:right;
	overflow: hidden;
	transform: translateZ(0px);
	width: 70%;
	height:100%;
	background-color: rgb(229, 227, 223);
	right:0%;
}

.retailerLocator {
	padding:0px 20px !important;
}

.retailerLocator h2 {
	font-family: 'Skoda Pro', Verdana;
	font-size: 16px !important;
}

.address {
	color:#000;
	font-family: 'Skoda Pro', Verdana;
	font-size: 14px !important;
}

.phone {
	background: url(../img/phone.png) no-repeat left bottom;
    line-height: 15px;
    padding-left: 40px;
    margin-top: 10px;
    color: #000;
    font-family: 'Skoda Pro', Verdana;
}
.mail {
	background: url(../img/mail.png) no-repeat left center;
	line-height:30px;
	padding-left: 40px;
	font-family: 'Skoda Pro', Verdana;
	color:#000;
}
.phone .phoneNumber {
	display:inline;
	padding-left: 35px;
	color: #000;
}

.mail .emailAddress {
	display:inline;
	padding-left: 40px;
	color: #000;
}



#pnlList li:hover .mail{
	color:#4ba82e;
}

#pnlList li:hover .phone{
	color:#4ba82e;
}

#pnlList li:hover .address{
	color:#4ba82e;
}

#pnlList li:hover .ddealername{
	color:#4ba82e;
}


#pnlList li:hover{
	text-decoration: none;
	color:#4ba82e;
	background: url(../Images/skoda/icon_arrow_acc-hover.png) no-repeat 96% center;
}

#pnlList li {
    display: block;
    padding: 20px;
    text-decoration: none;
    background: url(../Images/audi/icon_arrow_acc.png) no-repeat 96% center;
}

.dealerWeb {
	padding-top: 10px;
}

.k-autocomplete.k-header {
    height: 100%;
}

@media (max-width: 767px) {

body {
	padding: 0px !important;
	}

#googleMap {
	overflow: hidden;
	transform: translateZ(0px);
	background-color: rgb(229, 227, 223);
	right:0%;
}
}

 .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }