body
{
	background :none;
}

.sidebar
{
	width:100%;

	float:right;
	 position: inherit;
}



.backbtn, .printbtn, li.from, .map_container
{
	display:none;
}
.page-break	{ display: block; page-break-before: always; }


.adp-placemark
{
	background-color :#EEEEEE !important;
}