.headerBrand .logo
{
    background: url(../Images/skoda/logo1.png) no-repeat top left;
}
.headerBrand .logo2
{
    width:128px;
    height:63px;
    display:block;
    position:absolute;
    right:90px;
    top:0px;
    background: url(../Images/skoda/logo2.png) no-repeat top left;
}
.search_wrap
{
        
    background: #4ba82e url(../Images/skoda/boxgrad.png) repeat-x bottom right;
    color:#fff;
}

.searchbar input
{
	color: #000;
}

#MainContent_pnlFilter{
	margin-top:20px;
}

button{
	background:#f1f1f1;
}

.sidebar {
	background:#F1F1F1;
}

.searchbar {
	background:#fff;
	font-family : 'Skoda Pro';
	font-size:14px;
}

.searchbar input{

	border:1px solid #cccaca;
	
}

.initial_state, .initial_state_itinary {
	background:#f1f1f1;	
}
.initial_state h2, .initial_state_itinary h2{
	color:#4ba82e;
}
.initial_state strong, .initial_state_itinary strong{
	color:#4ba82e;
}
.icon_plus {
    background: url(../Images/skoda/icon_plus.png) no-repeat center;
}
.icon_min {
    background: url(../Images/skoda/icon_min.png) no-repeat center;
}
#accordion {
	background:#f1f1f1;	
}

.locator_detail img{
	border:5px solid #fff;
}
.locator_detail .phone a, .locator_detail .email a{
	color:#4ba82e;
}
.locator_detail .phone a{
	background:url(../Images/skoda/icon_phone.png) no-repeat left center;
}
.locator_detail .email a{
	background:url(../Images/skoda/icon_email.png) no-repeat left center;
}

.block_option li a
{
background: url(../Images/skoda/right_skoda.gif) top right no-repeat;
}
.block_option li a span{
background: url(../Images/skoda/center_skoda.gif) no-repeat;
}
.block_option li a:hover{
background: url(../Images/MB/right_hover.gif) top right no-repeat;
}
.block_option li a:hover span{
background: url(../Images/MB/center_hover.gif) no-repeat;
}
.block_calc li {
	margin:10px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.block_calc li:hover {
	background: #e5e5e5;
}
.block_calc li a{

	color:#7e7f80;

	border:1px solid #d9d9d9;
	background:url(../Images/skoda/icon_arrow_acc_hover.png) no-repeat 96% center;
}
.block_calc li.calculate a{
	background:url(../Images/skoda/icon_arrow_top.png) no-repeat 10px center;
	padding-left:40px;
}

/*.block_calc li.disabled {
	background: #ddd;
}*/

/*.block_calc li.disabled:hover {
	background: #ddd;
}*/
.block_calc li.disabled a
{
    cursor: default;
    color: #ccc
}

/* ventes */
.ventes a, .apres_ventes a{
	color:#4b4c4c;

}
.ventes {
	background:url(../Images/skoda/icon_ventes.png) no-repeat left center;
}
.apres_ventes {
	background:url(../Images/skoda/icon_ventes_apres.png) no-repeat left center;
}

.adp-directions tr td b{
	color:#4ba82e;
}




.css-checkbox input[type=checkbox]:checked + label {
	background-position: 0 -17px;
}

.css-checkbox label{
	background-image:url(../Images/Skoda/checkbox.png);
}

/* jquery slider */
.ui-widget-content {
	border-left:2px solid #e8e8e8;
	border-right:2px solid #e8e8e8;
	border-bottom:2px solid #e8e8e8;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-header .ui-state-hover {
	background:url(../Images/skoda/slider_btn.png) no-repeat!important;
}



.ui-widget-header {
	background:#f1f1f1;
	border:1px solid #e8e8e8;
}
.radius_info label.count {
	color:#fff;
}
.map_radius li{
	background:transparent url(../Images/skoda/measure_line.png) no-repeat center 20px;
    color:#fff;
}
.map_radius > li > a{
	color:#fff;

}


.adp-placemark{
	width:97%;
	background:#fff;
}

.result_calc li.from a{
	background:#fff;
	color:#838383;

}
.result_calc li.to a{
	background:#f1f1f1;
	color:#999;
}

.result_panel {
	background:#f1f1f1;
}


.maplabels {
    color: #838383;
}

.maplabelselect {
     color: white;
}

.printbtn{
	background: url(../Images/skoda/print_btn.gif) no-repeat 5px center;
}
.backbtn{
	background: url(../Images/skoda/back_btn.gif) no-repeat 5px center;
}
.printbtn:hover{
	background: url(../Images/skoda/print_btn.gif) no-repeat 5px center;
}
.backbtn:hover{
	background: url(../Images/skoda/back_btn.gif) no-repeat 5px center;
}
.ui-autocomplete {
	background:#fff;
}
.ui-autocomplete-category {
	border:1px solid #c9c9c9;   
}
.ui-autocomplete-category.dealer{
	background:#e6e6e6 url(../Images/seat/icon_dealer.png) no-repeat 5px center;
}
.ui-autocomplete-category.address{
	background:#e6e6e6 url(../Images/seat/icon_address.png) no-repeat 5px center;
}


#liCorres {

	color:#888;

}
#liLink {
	background:#4ba82e;
	color:#fff;
}


.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus

{border:none;background:none;color:#4ba82e}

.lnk_search
{
    background-color:#fff;
    color:#4ba82e;
}
#slider-range-max
{
    background-image:none;
    position:relative;
    border-top:2px solid #e8e8e8;
    background-color:#4a4b4c;
}
.link_inside {
background-color:#fff;
}


/*14-10-2013*/
.result_calc .from {
background:#4ba82e;
color:#fff;
}
.backAndPrint {background:#4ba82e;}
/*---*/

.icon_plus, .icon_min {
    top:0px;
}

@media only screen and (min-width: 1px) and (max-width: 568px)
{

	#MainContent_Panel1{
		width:100%;
	}

	#googleMap{
		display:none;
	}

	#pnlList{
		display:block !important;
	}

    .headerBranded .map_container {
        top:90px;
    }
    #pnlRadius
    {
        background-color:#4ba82e;
    }

    .s_btnList {
        background:url(../Images/skoda/ico_list.png) no-repeat center;
        background-size:10%;
    }
    .s_btnMap {
        background: url(../Images/skoda/ico_map.png) no-repeat center;
        background-size:10%;
    }
    .headerBranded .sidebar {
        margin-top:-2px;
    }
}

body .ui-widget-content #liLink a,
body .ui-widget-content #liLink a:hover {
    background:transparent!important;
}